.layout-container {
    width: 100%;
    height: 100%;
    .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
            color: #1890ff;
        }
    }

    .logo {
        height: 32px;
        line-height: 32px;
        // background: rgba(255, 255, 255, 0.2);
        margin: 16px;
        font-size: 18px;
        text-align: center;
    }

    .content {
        overflow: auto;
        margin: 24px 16px;
        padding: 24px;
    }
}

.site-layout .site-layout-background {
    background: #fff;
}
